header.top-bar
  h2.top-bar__name(data-text='Denis Skolzin') Denis Skolzin
  .top-bar__contacts
    .top-bar__contacts__cv(data-text='CV') CV
    a(
      href='https://t.me/DisaPadla',
      target="_blank",
      rel="noreferrer",
      aria-label="View source on GitHub",
      class='top-bar__contacts__github-corner',
    )
      img(src="../static/telegram.svg", alt="telegram")